; Store in /etc/systemd/system
; Register via `sudo systemctl enable home-automation-server`
; Update via `sudo systemctl daemon-reload`

[Unit]
Description=Home Automation Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/home-automation-server
ExecStart=/home/pi/.local/bin/poetry run python home_automation_server/main.py

[Install]
WantedBy=multi-user.target
